[submodule "third_party/QtMaterialDesignIcons"]
	path = third_party/QtMaterialDesignIcons
	url = https://github.com/sthlm58/QtMaterialDesignIcons.git
[submodule "third_party/pyjacklib"]
	path = third_party/pyjacklib
	url = https://github.com/jackaudio/pyjacklib.git
[submodule "third_party/ut"]
	path = third_party/ut
	url = https://github.com/boost-ext/ut.git
[submodule "third_party/new-session-manager"]
	path = third_party/new-session-manager
	url = https://github.com/jackaudio/new-session-manager.git
[submodule "third_party/newsessionmanager"]
	path = third_party/newsessionmanager
	url = https://github.com/jackaudio/new-session-manager.git
[submodule "shoopdaloop/third_party/QtMaterialDesignIcons"]
	path = shoopdaloop/third_party/QtMaterialDesignIcons
	url = https://github.com/sthlm58/QtMaterialDesignIcons.git
[submodule "third_party/base64"]
	path = third_party/base64
	url = https://github.com/tobiaslocker/base64.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/lilv"]
	path = third_party/lilv
	url = https://github.com/lv2/lilv.git
[submodule "third_party/lv2"]
	path = third_party/lv2
	url = https://github.com/lv2/lv2.git
[submodule "third_party/dynload-wrapper"]
	path = third_party/dynload-wrapper
	url = https://github.com/hpvb/dynload-wrapper.git
[submodule "third_party/serd"]
	path = third_party/serd
	url = https://github.com/drobilla/serd.git
[submodule "third_party/sord"]
	path = third_party/sord
	url = https://github.com/drobilla/sord.git
[submodule "src/shoopdaloop/third_party/QtMaterialDesignIcons"]
	path = src/shoopdaloop/third_party/QtMaterialDesignIcons
	url = https://github.com/sthlm58/QtMaterialDesignIcons.git
