[submodule "third_party/QtMaterialDesignIcons"]
	path = third_party/QtMaterialDesignIcons
	url = https://github.com/sthlm58/QtMaterialDesignIcons.git
[submodule "third_party/pyjacklib"]
	path = third_party/pyjacklib
	url = git@github.com:SanderVocke/pyjacklib.git
[submodule "third_party/sooperlooper"]
	path = third_party/sooperlooper
	url = git@github.com:SanderVocke/sooperlooper.git
