[submodule "src/backend/third_party/ut"]
	path = src/backend/third_party/ut
	url = https://github.com/boost-ext/ut.git
[submodule "src/backend/third_party/base64"]
	path = src/backend/third_party/base64
	url = https://github.com/tobiaslocker/base64.git
[submodule "src/backend/third_party/lilv"]
	path = src/backend/third_party/lilv
	url = https://github.com/lv2/lilv.git
[submodule "src/backend/third_party/lv2"]
	path = src/backend/third_party/lv2
	url = https://github.com/lv2/lv2.git
[submodule "src/backend/third_party/serd"]
	path = src/backend/third_party/serd
	url = https://github.com/drobilla/serd.git
[submodule "src/backend/third_party/sord"]
	path = src/backend/third_party/sord
	url = https://github.com/drobilla/sord.git
[submodule "src/python/shoopdaloop/third_party/QtMaterialDesignIcons"]
	path = src/python/shoopdaloop/third_party/QtMaterialDesignIcons
	url = https://github.com/sthlm58/QtMaterialDesignIcons.git
[submodule "src/backend/third_party/sratom"]
	path = src/backend/third_party/sratom
	url = https://github.com/lv2/sratom.git
[submodule "src/backend/third_party/fmt"]
	path = src/backend/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/backend/third_party/Catch2"]
	path = src/backend/third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "src/backend/third_party/breakpad"]
	path = src/backend/third_party/breakpad
	url = https://github.com/snxd/breakpad.git
[submodule "src/backend/third_party/zita-resampler"]
	path = src/backend/third_party/zita-resampler
	url = https://github.com/SanderVocke/zita-resampler.git
[submodule "src/backend/third_party/corrosion"]
	path = src/backend/third_party/corrosion
	url = https://github.com/corrosion-rs/corrosion.git
