**/*egg-info
**/__pycache__
*.cflags
*.config
*.creator*
*.cxxflags
*.files
*.includes
.qtc_clangd
build
.cache/
shoopdaloop.egg-info
dist
.py-build-cmake_cache
py-build-cmake.local.toml
py-build-cmake.cross.toml
Cargo.lock
target
.aider*
.env
.python-version
.build-env-debug.ps1
.build-env-release.ps1
.build-env-debug.sh
.build-env-release.sh
rust-analyzer-target