[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=ShoopDaLoop

# A comment which can/will be used as a tooltip
Comment=Live looping application with DAW elements

# The executable of the application, possibly with arguments.
Exec=shoopdaloop

# Describes the categories in which this entry should be shown
Categories=Music

# Icon file
Icon=shoopdaloop
